# /mtk/ 过滤整个文件夹
# *.zip 过滤所有.zip文件
# /mtk/do.c 过滤某个具体文件
# !src/   不过滤该文件夹
# !*.zip   不过滤所有.zip文件
# !/mtk/do.c 不过滤该文件
*/node_modules
*/node_modules/
*/build/
*/.DS_Store
.DS_Store
*/.cache
.cache
.DS_Store